{% extends 'base.html.twig' %}

		{% block title %}
			Publications
		{% endblock %}

		{% block body %}
			<div class="py-8 mx-auto max-w-7xl">
				<h1 class="mb-4 text-3xl font-bold">
					{{ comment.body }}
				</h1>

				<h2 class="mb-4 font-semibold underline">
					Comments
				</h2>
				{% if answers %}
					<div class="overflow-x-auto">
						<table class="min-w-full bg-white border border-gray-200">
							<thead>
								<tr>
									<th class="px-4 py-2 border-b">
										ID
									</th>
									<th class="px-4 py-2 border-b">
										Comment
									</th>
									<th class="px-4 py-2 border-b">
										Posted At
									</th>
									<th class="px-4 py-2 border-b">
										User
									</th>
									<th class="px-4 py-2 border-b">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								{% for answer in answers %}
									<tr class="hover:bg-gray-100">
										<td class="px-4 py-2 border-b">
											{{ answer.id }}
										</td>
										<td class="px-4 py-2 border-b">
											{{ answer.body }}
										</td>
										<td class="px-4 py-2 border-b">
											{{ answer.answeredAt|date('d-m-Y H:i') }}
										</td>
										<td class="px-4 py-2 border-b">
											{{ answer.user.pseudo }}
										</td>
										<td class="px-4 py-2 border-b">
											<a href="{{ path('app_answers_edit', {'commentId': comment.id,'id': answer.id}) }}" class="px-2 py-1 text-white bg-blue-500 rounded hover:bg-blue-700">
												Edit
											</a>
											{{ include('answers/_delete_form.html.twig') }}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<p class="text-gray-500">
						No comments found.
					</p>
				{% endif %}

				<div class="mt-6">
					<a href="{{ path('app_answers_new', {'commentId': comment.id}) }}" class="inline-block px-4 py-2 font-semibold text-white bg-blue-500 rounded-lg shadow-md hover:bg-blue-700">
						Add a Comment
					</a>
				</div>
				<div class="mt-6">
					{{ include('comment/_delete_form.html.twig') }}
				</div>

			</div>
		{% endblock %}
